

.form1 {
  float: left;
  margin: auto;
  padding: 10px;
  height: 50px; 
 }
.form2 {
  float: right;
  padding: 7px;
  height: 200px;
}
#wrapper {
  margin: auto;
  width: 1827px;
}

#header {
  height: 270px;
  border: 7px solid blue;
  background-image: url(logo_unej.png);
}

#logo{
  float: left;
  height: 100px;
  width: 100px; 
  margin: 10px;
  margin-left: 20px;
}

#title{
  float: left;
  width : 400px;
  color : White;
  font-size : 40px; 
  font-weight : bold;
  margin: 35px; 
  margin-left: 50px;
} 

#nav{
  float: left;
  width: 1830px;
  height: 70px;
  background: #4169E1;
}
#submenu{
    float:left;
    color: white;
                text-align : center;
                margin: 3px;
    background-color: #1566DF; 
    -moz-border-radius-topleft: 10px; 
    -moz-border-radius-bottomright: 10px; 
    border : 2px solid blue; 
    padding : 5px; 
    width : 65px; 
    height : 20px; 
}
#menu {
   float: right;
}
#inner {
  float: left;
  border-right: 2px solid aqua;
}

#colgambar{
  float: left;
  width: 250px;
  height: 450px;
  border: 4px solid red;
}

#content {
  float: left;
  margin-left:3px;
  width: 1570px;
  height: 470px;
  color:black;
  background:white;
}

#event{
  float: left;
  width: 1830px;
  height: 154px;
  background: #6266E6;
  border: 2px solid aqua;
  color:white;
  font-color: white;
}
#footer {
  float: left;
  border: 5px solid blue;
  color : white;
  font-weight : bold;
  height : 70px;
  width: 1830px;
  background-image : url(logo_unej.png); 
}
#design{
float: right;
color: blue;
margin : 10px;
}
@media screen and (max-width: 960px) {
 
  .header {
    position:inherit;
  }
 
  .wrap {
    width: 90%;
    margin:25px auto;
  }
  .sidebar {
    width:100%;
    margin:25px 0 0;
    float:right;
  }
 
  .sidebar .widget {
    padding:5%;
  }
 
  nav.menu ul {
    width: 100%;
  }
 
  nav.menu ul {
    float:inherit;
  }
 
  nav.menu ul li {
    float:inherit;
    margin:0;
  }
 
  nav.menu ul a {
    padding:15px;
    font-size: 16px;
    border-top:1px solid #1abf9f;
    border-bottom:1px solid #16a085;
  }
 
  .blog {
    width:90%;
  }
 
  .conteudo {
    float:inherit;
    margin:0 auto 25px;
    width:101%;
    border:1px solid #dedede;
    padding:5%;  
    background: #fff;
  }
 
  .conteudo img {
    max-width: 110%;
    margin:0 0 25px -5%;
    min-width: 110%;
  }
 
  .conteudo .continue-lendo:hover {
    margin-left:0;
  }
 
 



